<section id="wrapper">
    <div id="scroller">

        <div class="container searchResult">
            <div class="title" data-bind="html: name"></div>
            <div>Erzeugt von: <b>Manfred F.</b></div>

            <div class="accordion" id="accordion2" data-bind="foreach: details">
                <div class="panel panel-default customDefaultPanel animatedPanel">
                    <div class="panel-heading container" data-bind="click: app.togglePanel.bind($data, 'problem')">
                        <div class="row">
                            <div class="col-xs-10" data-bind="html: name"></div>
                            <div class="col-xs-2"><i id="problemIcon" class="fa fa-chevron-down"></i></div>
                        </div>
                    </div>
                    <div class="panel-body" id="problemPanel">
                        <div class="measureWrapper">
                            <!-- ko if: type() === 'CODE' -->
                            <div>
                                <pre><code data-bind="html: content"></code></pre>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: type() === 'TEXT' -->
                            <div data-bind="html: content"></div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!--Code-highlight init-->
        <script>
            $('pre code').each(function(i, e) {
                hljs.highlightBlock(e);
            });
        </script>

    </div>
</section>