<section id="wrapper">
    <div id="scroller">
        <div class="container editPage">
            <!-- ToDo: Ugly C&P  -->
            <div class="panel panel-default customDefaultPanel">
                <div class="panel-heading container">
                    <div class="row">
                        <div class="col-xs-10">
                            <span>
                                <input class="btn btn-primary" type="submit" data-bind="click: saveData" value="Speichern">
                                <input class="btn" type="submit" data-bind="click: app.header.headerLeftClickEvent" value="Abbrechen">
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="panel panel-default customDefaultPanel">
                <div class="panel-heading container" >
                    <div class="measureWrapper">
                        <input type="text" class="title col-xs-12" data-bind="value: solution" />
                    </div>
                </div>            
            </div>

            <div class="panel-group" id="accordion" data-bind="foreach: details">
                <div class="panel panel-default customDefaultPanel animatedPanel">
                    <div class="panel-heading" data-bind="click: app.togglePanel.bind($data, typeId)">
                        <div class="row">
                            <div class="col-xs-10" data-bind="html: name"></div>
                            <div class="col-xs-2"><i data-bind="attr: {id: typeId + 'Icon'}" class="fa fa-chevron-down"></i></div>
                        </div>
                    </div>
                    <div class="panel-body" data-bind="attr: {id: typeId + 'Panel'}">
                        <div class="measureWrapper">
                            <textarea class="col-xs-12" data-bind="value: content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel-group" style="margin-top: 20px">
                <div class="panel panel-default customDefaultPanel">
                    <div class="panel-heading container">
                        <div class="row">
                            <div class="col-xs-10">
                                <span>
                                    <input class="btn btn-primary" type="submit" data-bind="click: savData" value="Speichern" />
                                    <input class="btn" type="submit" data-bind="click: app.header.headerLeftClickEvent" value="Abbrechen" />
                                </span>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

