<section id="wrapper">
    <div id="scroller">

        <h1>Add REST Content!</h1>
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- *********************  Footer Template 1 ******************************** -->
        <!-- **** Footer with 3 tasks: for profil view              [v0.18]       **** -->
        <!-- ************************************************************************* -->
        <div class="footer_bar container" id="footer">
            <div class="row">
                <div class="col-xs-4 footer_left" data-bind="click: ">
                    <div>Neues Doodle</div>
                </div>
                <div class="col-xs-4 footer_center" data-bind="click: ">
                    <div>Doodle abrufen</div>
                </div>
                <div class="col-xs-4 footer_right" data-bind="click: ">
                    <div>Doodle löschen</div>
                </div>

            </div>

        </div>
        <!-- ************************************************************************* -->


    </div>
</section>