<section id="wrapper">
    <div id="scroller">

        <h1>Doodle Umfrage</h1>
        
        <div class="container restOption" data-bind="visible: isNewPollVisible">
            <div class="whatDoTitle row">neue Doodle Umfrage erstellen:</div>
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Titel:</div>
                <div class="col-xs-9 fieldInput"> 
                    <input id="title" name="title" type="text" data-bind="value: poll.title" placeholder="Titel der Umfrage" class="input-xlarge" required="">
                </div>
            </div>
            
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Beschreibung:</div>
                <div class="col-xs-9 fieldInput">
                    <textarea id="Beschreibung" data-bind="value: poll.description" name="Beschreibung"></textarea>
                </div>
            </div>
            
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Name:</div>
                <div class="col-xs-9 fieldInput">
                    <input id="personName" name="personName" data-bind="value: poll.name" type="text" placeholder="Dein Name" class="input-xlarge">
                </div>
            </div>
            
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Email:</div>
                <div class="col-xs-9 fieldInput">
                     <input id="email" name="email" type="text" data-bind="value: poll.email" placeholder="Email-Adress" class="input-xlarge">
                </div>
            </div>
            
            <div class="row optionrow" >
                <div class="col-xs-10" data-bind="foreach: poll.options">
                    <div class="row">
                        <div class="col-xs-2 fieldTitle" data-bind="html: id"></div>
                        <div class="col-xs-10 fieldInput">
                             <input id="option" data-bind="value: email" name="otion" type="text" placeholder="wählebare Option" class="input-xlarge">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary  newPollBtn" data-bind="click: poll.addOption"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            
            <button class="btn btn-primary okBtn" data-bind="click: poll.createPoll">Erstellen</button>
        </div>
        
        
        

<!--        <div class="container createPoll" data-bind="visible: isNewPollVisible">
            <form class="form-horizontal row">
                <fieldset>

                     Form Name 
                    <legend>neue Doodle Umfrage erstellen:</legend>

                     Text input
                    <div class="control-group">
                        <label class="control-label" for="title">Titel</label>
                        <div class="controls">
                            <input id="title" name="title" type="text" placeholder="Titel der Umfrage" class="input-xlarge" required="">

                        </div>
                    </div>

                     Textarea 
                    <div class="control-group">
                        <label class="control-label" for="Beschreibung">Beschreibung</label>
                        <div class="controls">                     
                            <textarea id="Beschreibung" name="Beschreibung"></textarea>
                        </div>
                    </div>

                     Text input
                    <div class="control-group">
                        <label class="control-label" for="personName">Name</label>
                        <div class="controls">
                            <input id="personName" name="personName" type="text" placeholder="Dein Name" class="input-xlarge">

                        </div>
                    </div>

                     Text input
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input id="email" name="email" type="text" placeholder="Email-Adress" class="input-xlarge">

                        </div>
                    </div>

                     Text input
                    <div class="control-group">
                        <label class="control-label" for="option">1</label>
                        <div class="controls">
                            <input id="option" name="option" type="text" placeholder="Umfrage-Option" class="input-xlarge">

                        </div>
                    </div>

                     Button 
                    <div class="control-group">
                        <label class="control-label" for="addNew"></label>
                        <div class="controls">
                            <button id="addNew" name="addNew" class="btn btn-primary">Doodle Umfrage erstellen</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>-->
        

        <div class="container restOption" data-bind="visible: isNewPollVisible">
            <div class="whatDoTitle row">Umfrage beantworten:</div>
            <div class="row fieldrow">
                <div class="col-xs-5 fieldTitle">Umfrage wählen:</div>
                <div class="col-xs-9 fieldInput"> 
                    <select id="selectforAnswer" name="selectforAnswer" class="input-xlarge" data-bind="foreach: listOfCreatedPolls">
                        <option data-bind="html: name"></option>
                    </select>
                </div>
            </div>
            
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Title:</div>
                <div class="col-xs-9 fieldInput">
                    <textarea id="Beschreibung" data-bind="value: poll.title" name="Beschreibung"></textarea>
                </div>
            </div>
            
             <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Beschreibung:</div>
                <div class="col-xs-9 fieldInput">
                     <input id="email" name="email" type="text" data-bind="value: poll.description" placeholder="Email-Adress" class="input-xlarge">
                </div>
            </div>
            
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Name:</div>
                <div class="col-xs-9 fieldInput">
                    <input id="personName" name="personName" data-bind="value: answer.answerPersonName" type="text" placeholder="Dein Name" class="input-xlarge">
                </div>
            </div>
            
           
            <!-- ADD SELECTION -->
           
            
            <button class="btn btn-primary okBtn" data-bind="click: answer.sendAnswer">Erstellen</button>
        </div>
        







        <div class="container createPoll" data-bind="visible: isAnswerPollVisible">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Umfrage beantworten:</legend>

                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="selectforAnswer">Umfrage auswählen</label>
                        <div class="controls">
                            <select id="selectforAnswer" name="selectforAnswer" class="input-xlarge">
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="titleForAnswer">Titel</label>
                        <div class="controls">
                            <input id="titleForAnswer" name="titleForAnswer" type="text" placeholder="Titel der Umfrage" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="descriptionForAnswer">Beschreibung</label>
                        <div class="controls">                     
                            <textarea id="descriptionForAnswer" name="descriptionForAnswer"></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="personForAnswer">Name</label>
                        <div class="controls">
                            <input id="personForAnswer" name="personForAnswer" type="text" placeholder="Dein Name" class="input-xlarge">

                        </div>
                    </div>

                    <!-- Multiple Radios -->
                    <div class="control-group">
                        <label class="control-label" for="selectedAnswer">Anwort von </label>
                        <div class="controls">
                            <label class="radio" for="selectedAnswer-0">
                                <input type="radio" name="selectedAnswer" id="selectedAnswer-0" value="a" checked="checked">
                                a
                            </label>
                            <label class="radio" for="selectedAnswer-1">
                                <input type="radio" name="selectedAnswer" id="selectedAnswer-1" value="b">
                                b
                            </label>
                            <label class="radio" for="selectedAnswer-2">
                                <input type="radio" name="selectedAnswer" id="selectedAnswer-2" value="c">
                                c
                            </label>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="addNew"></label>
                        <div class="controls">
                            <button id="addNew" name="addNew" class="btn btn-primary">Bestätigen</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>


         <div class="container deletePoll" data-bind="visible: isDeleteVisible">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Umfrage beantworten:</legend>

                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="selectforAnswer">Umfrage auswählen</label>
                        <div class="controls">
                            <select id="selectforAnswer" name="selectforAnswer" class="input-xlarge">
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="deleteBtn"></label>
                        <div class="controls">
                            <button id="deleteBtn" name="deleteBtn" class="btn btn-danger">Umfrage löschen</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        
        <div class="container statisticPoll" data-bind="visible: isStatisticPollVisible || isDeleteVisible">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Umfrage Statistik</legend>

                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="selectPollForStatitic">Umfrage auswählen</label>
                        <div class="controls">
                            <select id="selectPollForStatitic" name="selectPollForStatitic" class="input-xlarge">
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="titleForStatistic">Titel</label>
                        <div class="controls">
                            <input id="titleForStatistic" name="titleForStatistic" type="text" placeholder="Titel der Umfrage" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="descriptionForStatistic">Beschreibung</label>
                        <div class="controls">                     
                            <textarea id="descriptionForStatistic" name="descriptionForStatistic"></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="personForStatitic">Name</label>
                        <div class="controls">
                            <input id="personForStatitic" name="personForStatitic" type="text" placeholder="Dein Name" class="input-xlarge">

                        </div>
                    </div>

                    <!-- Multiple Radios -->
                    <div class="control-group">
                        <label class="control-label" for="answerForStatistic">Anwort von </label>
                        <div class="controls">
                            <label class="radio" for="answerForStatistic-0">
                                <input type="radio" name="answerForStatistic" id="answerForStatistic-0" value="a" checked="checked">
                                a
                            </label>
                            <label class="radio" for="answerForStatistic-1">
                                <input type="radio" name="answerForStatistic" id="answerForStatistic-1" value="b">
                                b
                            </label>
                            <label class="radio" for="answerForStatistic-2">
                                <input type="radio" name="answerForStatistic" id="answerForStatistic-2" value="c">
                                c
                            </label>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="addNew"></label>
                        <div class="controls">
                            <button id="addNew" name="addNew" class="btn btn-primary">Bestätigen</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>


       
        <!-- *********************  Footer Template 1 ******************************** -->
        <!-- **** Footer with 3 tasks: for profil view              [v0.18]       **** -->
        <!-- ************************************************************************* -->
        <div class="footer_bar container" id="footer">
            <div class="row">
                <div class="col-xs-3 footer_left" data-bind="click: toggleVisible.bind($data, 1)">
                    <div>Neues Doodle</div>
                </div>
                <div class="col-xs-3 footer_left" data-bind="click: toggleVisible.bind($data, 2) ">
                    <div>Doodle beantworten</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: toggleVisible.bind($data, 3) ">
                    <div>Doodle abrufen</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: toggleVisible.bind($data, 4) ">
                    <div>Doodle löschen</div>
                </div>
            </div>

        </div>
        <!-- ************************************************************************* -->


    </div>
</section>