<section id="wrapper">
    <div id="scroller">

        <div class="container searchResult">
            <div class="row title">Suchergebnisse zu: "Quick Sort":</div>
            <div class="" data-bind="foreach: searchresult">
                <div class="row rowItem" data-bind="click: $parent.navigateToDetails.bind($data, solutionId)">
                    <div class="col-xs-10">
                        <div class="itemTitle" data-bind="html: title"></div>
                        <div class="itemText" data-bind="html: description"></div>
                    </div>
                    <div class="col-xs-2 rowicon"><i class="fa fa-chevron-right"></i></div>
                </div>
            </div>
        </div>  

    </div>
</section>