<section id="wrapper">
    <div id="scroller">
        <!-- 
        <h1>Suchergebnisse zu: "Quick Sort"</h1>
         -->
        
        
        
		<div class="container searchResult">
		    <div class="title">Suchergebnisse zu: "Quick Sort":</div>
		    <div class="row">
		        <div class="col-xs-12 rowItem" data-bind="click: navigateToDetails">
		        	<b>Quick Sort Algorithmus</b><br />
		        	Quicksort (engl. quick ‚schnell‘ und to sort ‚sortieren‘) ist ein schneller, rekursiver, nicht-stabiler Sortieralgorithmus, der nach dem Prinzip Teile und herrsche (lat. Divide et impera!, engl. divide and conquer) arbeitet.
		        </div>
		        <div class="col-xs-12 rowItem">
		        	<b>Bubble Sort Algorithmus</b><br />
		        	Bubblesort (auch Sortieren durch Aufsteigen) ist ein Algorithmus, der vergleichsbasiert eine Liste von Elementen sortiert. Dieses Sortierverfahren arbeitet in-place, sortiert stabil und hat eine Laufzeit von \mathcal{O}(n^2) im schlimmsten (Worst-Case) wie auch im durchschnittlichen Fall (Average-Case)
		        </div>

		    </div>
		 </div>         
         
         
    </div>
</section>