<section id="wrapper">
    <div id="scroller">

        <div class="container searchBarGrp">
            <div class="input-group col-xs-12 ">
                <input type="search" class="form-control" id="searchField" data-bind="value: searchKeyword" placeholder="Suche...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-bind="click: find, visible: !searchRequestStarted()">Go!</button>
                    <button class="btn btn-primary" type="button" data-bind="visible: searchRequestStarted"><i class="fa fa-refresh fa-spin"></i></button>
                </span>
            </div> 
        </div>
        
        <div class="container webserviceGrp">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3"><button class="btn btn-primary" data-bind="click: navToRest">Rest-Client</button></div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3"><button class="btn btn-primary" data-bind="click: navToSoap">Soap-Client</button></div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3"><button class="btn btn-primary" data-bind="click: navToConfig">Konfiguration</button></div>
            </div>
        </div>
        
        <div class="container searchHistoryGrp">
            <div class="title">Suche Historie:</div>
            <div class="oneHistoryRow row" data-bind="foreach: historyEntries">
                <div class="col-xs-12 rowItem" data-bind="html: $data">
            </div>
         </div>

        </div> 


    </div>
</section>