<section id="wrapper">
    <div id="scroller">

        <h1>Doodle Umfrage</h1>

        <div class="container restOption">
            <div class="whatDoTitle row">Umfrage beantworten:</div>
            <div class="row fieldrow">
                <div class="col-xs-5 fieldTitle">Umfrage wählen:</div>
                <div class="col-xs-9 fieldInput"> 
                    <select id="selectforAnswer" name="selectforAnswer" class="input-xlarge" data-bind="foreach: polls, value: selectedPoll">
                        <option data-bind="html: name, value: id"></option>
                    </select>
                </div>
            </div>
            
          
            <div style="margin-top: 10px" class="whatDoTitle row">Informationen zum gewählten Doodle:</div>
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Titel:</div>
                <div class="col-xs-9 fieldInput"> 
                    <span data-bind="html: title" class="col-xs-12">
                </div>
            </div>

            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Beschreibung:</div>
                <div class="col-xs-9 fieldInput">
                    <textarea id="Beschreibung" data-bind="value: description" name="Beschreibung" disabled=""></textarea>
                </div>
            </div>

            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Autor:</div>
                <div class="col-xs-9 fieldInput">
                    <span data-bind="html: name" class="col-xs-12">
                </div>
            </div>
            
            
            <!-- Eingaben für participant -->
            <div class="row fieldrow">
                <div class="col-xs-3 fieldTitle">Name:</div>
                <div class="col-xs-9 fieldInput">
                    <input id="personName" name="personName" data-bind="value: personName" type="text" placeholder="Dein Name" class="input-xlarge">
                </div>
            </div>
           
             <div class="row optionrow" >
                 <div class="fieldTitle col-xs-12" >Bitte Antwort auswählen:</div>
                <div class="col-xs-12" data-bind="foreach: options">
                    <div class="row">
                        <span data-bind="html: name" class="col-xs-6"></span>
                        <input class="col-xs-6" type="checkbox" name="selectedAnswer" data-bind="value: name">                        
                    </div>
                </div>
               
            </div>
           
            
            <button class="btn btn-primary okBtn" data-bind="click: sendAnswer">Erstellen</button>
        </div>
        
        <!-- *********************  Footer Template 1 ******************************** -->
        <!-- **** Footer with 3 tasks: for profil view              [v0.18]       **** -->
        <!-- ************************************************************************* -->
        <div class="footer_bar container" id="footer">
            <div class="row">
                <div class="col-xs-3 footer_left" data-bind="click: function() {app.navigateTo('rest/newdoodle')}">
                    <div>New</div>
                </div>
                <div class="col-xs-3 footer_left" data-bind="click: function() {app.navigateTo('rest/answerdoodle')}">
                    <div>Answer</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: function() {app.navigateTo('rest/getdoodle')}">
                    <div>Call</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: function() {app.navigateTo('rest/deletedoodle')}">
                    <div>Delete</div>
                </div>
            </div>

        </div>
        <!-- ************************************************************************* -->


    </div>
</section>