<section id="wrapper">
    <div id="scroller">

        <h1>Doodle Umfrage</h1>

         <div class="container deletePoll" >
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Umfrage löschen</legend>

                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="selectforAnswer">Umfrage auswählen</label>
                        <div class="controls">
                            <select id="selectforAnswer" name="selectforAnswer" class="input-xlarge" data-bind="foreach: polls, value: selectedPoll">
                                <option data-bind="hmtl: name"></option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="deleteBtn"></label>
                        <div class="controls">
                            <button id="deleteBtn" name="deleteBtn" class="btn btn-danger" data-bind="click: deletePoll">Umfrage löschen</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        
     


     <!-- *********************  Footer Template 1 ******************************** -->
        <!-- **** Footer with 3 tasks: for profil view              [v0.18]       **** -->
        <!-- ************************************************************************* -->
        <div class="footer_bar container" id="footer">
            <div class="row">
                <div class="col-xs-3 footer_left" data-bind="click: function() {app.navigateTo('rest/newdoodle')}">
                    <div>New</div>
                </div>
                <div class="col-xs-3 footer_left" data-bind="click: function() {app.navigateTo('rest/answerdoodle')}">
                    <div>Answer</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: function() {app.navigateTo('rest/getdoodle')}">
                    <div>Call</div>
                </div>
                <div class="col-xs-3 footer_right" data-bind="click: function() {app.navigateTo('rest/deletedoodle')}">
                    <div>Delete</div>
                </div>
            </div>

        </div>
        <!-- ************************************************************************* -->

    </div>
</section>